<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <p>&copy; 2024 Rose & Co. All rights reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="#">Terms of Use</a></li>
            <li class="list-inline-item"><a href="#">Sitemap</a></li>
        </ul>
    </div>
</footer>